/* ---------------------------------
Images_slider_style_part-start.
--------------------------------- */
.panda-body-bg{
    background-color: #E5E5E5;
}

.panda-bg-info{
    background-color:hsl(3, 91%, 95%);";
}
.panda-fonts{
    font-size:20px;
    text-transform: uppercase;
}
/* ---------------------------------
Images_slider_style_part-end.
--------------------------------- */